{% assign navurl = page.url | remove: 'index.html' %}
<ul class="nav" id="side-menu">
    {% for item in include.nav %}
    <li>
        <a href="{% unless item.external %}{{ BASE_PATH }}{% endunless %}{{ item.url }}">
            {% if item.fa-icon %}<i class="fa fa-{{ item.fa-icon }} fa-fw"></i> {% endif %}
            {{ item.text }}
            {% if item.subitems or item.subitems-page %}
            <span class="fa arrow"></span>
            {% endif %}
        </a>
        {% if item.subitems or item.subitems-page %}
        <ul class="nav nav-second-level collapse">
            {% if item.subitems-page %}
            {% include {{item.subitems-page}} %}
            {% else %}
            {% include _navbar_subitems.html nav=item.subitems %}
            {% endif %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>