{% for item in include.nav %}
<li>
    <a href="{% if item.url %}{% unless item.external %}{{ BASE_PATH }}{% endunless %}{{ item.url }}{% else %}#{% endif %}">
        {% if item.fa-icon %}<i class="fa fa-{{ item.fa-icon }} fa-fw"></i> {% endif %}
        {{ item.text }}
        {% if item.subitems or item.subitems-page %}
        <span class="fa arrow"></span>
        {% endif %}
    </a>
    {% if item.subitems %}
    <ul class="nav nav-third-level collapse">
        {% include _navbar_subitems.html nav=item.subitems %}
    </ul>
    {% endif %}
</li>
{% endfor %}