{% assign dictionary = include.dictionary %}

<div class="col-md-10">
    <h2 id="ami-dict-v{{ dictionary['version'] }}">Aggregated version</h2>
    <p>This dictionary holds the last version of each AMI, AMISet, selection list and default qualifier.</p>

    <!-- AMIs -->
    {% assign amis = dictionary['amis'] | sort: 'id' %}
    {% include themes/andaman7/ami-dicts/_amis.html amis=amis search="true" %}

    <!-- AMISets -->
    {% assign amiSets = dictionary['amiSets'] | sort: 'id' %}
    {% include themes/andaman7/ami-dicts/_amisets.html amiSets=amiSets search="true" %}

    <!-- Selection lists -->
    {% assign selectionLists = dictionary['selectionLists'] | sort: 'id' %}
    {% include themes/andaman7/ami-dicts/_selectionlists.html selectionLists=selectionLists search="true" %}

    <!-- Default qualifiers -->
    {% assign defaultQualifiers = dictionary['defaultQualifiers'] | sort: 'id' %}
    {% include themes/andaman7/ami-dicts/_defaultqualifiers.html defaultQualifiers=defaultQualifiers search="true" %}
</div>

<!-- Affix -->
<div class="col-md-2" role="complementary">
    <nav class="hidden-xs hidden-sm affix-top amidicts-sidebar">
        <ul class="nav bs-docs-sidenav">
            {% if dictionary['amis'] and dictionary['amis'] != empty %}<li><a href="#amis" class="affix-link">AMIs & Qualifiers</a></li>{% endif %}
            {% if dictionary['amiSets'] and dictionary['amiSets'] != empty %}<li><a href="#ami-sets" class="affix-link">AMISets</a></li>{% endif %}
            <li class="divider"></li>
            {% if dictionary['selectionLists'] and dictionary['selectionLists'] != empty %}<li><a href="#selection-lists" class="affix-link">Selection Lists</a></li>{% endif %}
            {% if dictionary['defaultQualifiers'] and dictionary['defaultQualifiers'] != empty %}<li><a href="#default-qualifiers" class="affix-link">Default Qualifiers</a></li>{% endif %}
        </ul>
        <a class="back-to-top affix-link" href="#top">Back to top</a>
    </nav>
</div>