{% assign dictionaries = include.dictionaries | sort: 'version' %}

<div class="col-md-10">
    {% for dictionary in dictionaries reversed %}
    {% assign version = dictionary['version'] %}


    <h2 id="ami-dict-v{{ dictionary['version'] }}">Version {{ version }}</h2>
    <br/>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Creation date :</label>
            <div class="col-md-2">
                <input class="form-control" type="text" placeholder="{{ dictionary['creationDate'] | date: "%F %T" }}" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Minimum compatible version :</label>
            <div class="col-md-2">
                <input class="form-control" type="text" placeholder="{{ dictionary['minCompatVersion'] }}" readonly />
            </div>
        </div>
    </form>

    <!-- AMIs -->
    {% assign amis = dictionary['amis'] | sort: 'id' %}
    {% include themes/andaman7/ami-dicts/_amis.html amis=amis search="false" version=version %}

    <!-- AMISets -->
    {% assign amiSets = dictionary['amiSets'] | sort: 'id' %}
    {% include themes/andaman7/ami-dicts/_amisets.html amiSets=amiSets search="false" version=version %}

    <!-- Selection lists -->
    {% assign selectionLists = dictionary['selectionLists'] | sort: 'id' %}
    {% include themes/andaman7/ami-dicts/_selectionlists.html selectionLists=selectionLists search="false" version=version %}

    <!-- Default qualifiers -->
    {% assign defaultQualifiers = dictionary['defaultQualifiers'] | sort: 'id' %}
    {% include themes/andaman7/ami-dicts/_defaultqualifiers.html defaultQualifiers=defaultQualifiers search="false" version=version %}

    <br/>
    <hr/>
    {% endfor %}
</div>

<!-- Affix -->
<div class="col-md-2" role="complementary">
    <nav class="hidden-xs hidden-sm affix-top amidicts-sidebar">
        <ul class="nav bs-docs-sidenav">
            {% for dictionary in dictionaries reversed %}
            <li>
                <a href="#ami-dict-v{{ dictionary['version'] }}" class="affix-link">Version {{ dictionary['version'] }}</a>
                <ul class="nav">
                    {% if dictionary['amis'] and dictionary['amis'] != empty %}
                    {% assign amis = dictionary['amis'] | sort: 'id' %}
                    <li>
                        <a href="#amis-v{{ dictionary['version'] }}" class="affix-link">AMIs & Qualifiers</a>
                        <ul class="nav">
                            {% for ami in amis %}
                            <li><a href="#ami-v{{ dictionary['version'] }}-{{ ami['id'] | replace:'.', '_' }}" class="affix-link">{{ ami['id'] }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if dictionary['amiSets'] and dictionary['amiSets'] != empty %}<li><a href="#ami-sets-v{{ dictionary['version'] }}" class="affix-link">AMISets</a></li>{% endif %}
                    <li class="divider"></li>
                    {% if dictionary['selectionLists'] and dictionary['selectionLists'] != empty %}<li><a href="#selection-lists-v{{ dictionary['version'] }}" class="affix-link">Selection Lists</a></li>{% endif %}
                    {% if dictionary['defaultQualifiers'] and dictionary['defaultQualifiers'] != empty %}<li><a href="#default-qualifiers-v{{ dictionary['version'] }}" class="affix-link">Default Qualifiers</a></li>{% endif %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        <a class="back-to-top affix-link" href="#top">Back to top</a>
    </nav>
</div>