li {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 30px;
}

.well {
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

code {
    word-wrap: break-word;
}

.tabulation {
    padding-left: 5em;
}

#toc ul {
    list-style: none;
    padding-left: 2em;
}

.page-header {
    padding-bottom: 0px;
    margin-bottom: 10px;
}

@media (min-width: 1500px) {

    #page-wrapper .row {
        margin-left: 150px;
        margin-right: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 767px) {

    #page-wrapper .row {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


/*
Navbar
*/

.navbar .navbar-brand {
    background: url("../images/logo.png") no-repeat scroll center center;
    background-size: 150px auto;
    padding: 15px 15px 15px 200px;
    line-height: 270px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .navbar .navbar-brand {
        background: url("../images/logo.png") no-repeat scroll center center;
        background-size: 150px auto;
    }
}

@media (min-width: 768px) {
    .navbar {
        position: absolute;
    }

    .navbar .navbar-brand {
        text-align: center;
        background: url("../images/logo.png") no-repeat scroll center center;
        background-size: 200px auto;
        line-height: 270px;
        margin: 0;
        padding: 15px 15px;
    }

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        .navbar .navbar-brand {
            background: url("../images/logo.png") no-repeat scroll center center;
            background-size: 200px auto;
        }
    }

    .navbar .navbar-header:hover {
        color: #333;
        background-color: #eee;
    }

    .navbar, .navbar .navbar-brand {
        width: 250px;
        height: 100px;
    }

    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 100px;
    }
}


/*
Sticky footer
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 51px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 61px;
    background-color: #f5f5f5;
    border-top: 1px solid #e4e4e4;
}

.container .text-muted {
    margin: 20px 0;
}
